<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>New Offering</title>
</head>
<body>
    <h1>New Offering</h1>

    <form action="#" method='POST'>
        <p>Title:</p>
        <input type='text' size='30' name='title'>
        <p>Location:</p>
        <select name="location">
            <option value="dublin south">Dublin, South</option>
            <option value="dublin north">Dublin, North</option>
        </select>
        </br>
        </br>
        <input type='submit' value='Create'>
    </form>
</br>
    <a href='{{url_for('offering')}}'>Back</a>

</body>
</html>