<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>New Offering</title>
</head>
<body>
    <h1>New Offering</h1>

    <form action="#" method='POST'>
        <p>Title:</p>
        <input type='text' size='30' name='title'>
        <p>Location:</p>
        <select name="location">
            <option value="dublin south">Dublin, South</option>
            <option value="dublin north">Dublin, North
            <option value="antrim">Antrim</option>
            <option value="armagh">Armagh</option>
            <option value="carlow">Carlow</option>
            <option value="cavan">Cavan</option>
            <option value="clare">Clare</option>
            <option value="cork">Cork</option>
            <option value="derry">Derry</option>
            <option value="donegal">Donegal</option>
            <option value="down">Down</option>
            <option value="fermanagh">Fermanagh</option>
            <option value="galway">Galway</option>
            <option value="kerry">Kerry</option>
            <option value="kildare">Kildare</option>
            <option value="kilkenny">Kilkenny</option>
            <option value="laois">Laois</option>
            <option value="leitrim">Leitrim</option>
            <option value="limerick">Limerick</option>
            <option value="longford">Longford</option>
            <option value="louth">Louth</option>
            <option value="mayo">Mayo</option>
            <option value="meath">Meath</option>
            <option value="monaghan">Monaghan</option>
            <option value="offaly">Offaly</option>
            <option value="roscommon">Roscommon</option>
            <option value="sligo">Sligo</option>
            <option value="tipperary">Tipperary</option>
            <option value="tyrone">Tyrone</option>
            <option value="waterford">Waterford</option>
            <option value="westmeath">Westmeath</option>
            <option value="wexford">Wexford</option>
            <option value="wicklow">Wicklow</option>
        </select>
        </br>
        </br>
        <input type='submit' value='Create'>
    </form>
</br>
    <a href='{{url_for('offering')}}'>Back</a>

</body>
</html>