<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/offerings.js') }}"></script>
    <title>BabiesGrow</title>
    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .panel-body img {
        height : 450px
    }
  </style>
</head>



<body>
<div class="jumbotron">
  <div class="container text-center">
    <h1>BabiesGrow</h1>
    <p>Reduce, Reuse, Recycle</p>
  </div>
</div>
{% include "header.html" %}


    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-success">
         <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
         </ul>
        {% endif %}
    {% endwith %}
    </div>

    <main>
    <div class="panel panel-default">
    <a href = '{{url_for('newOffering') }}' class="btn btn-primary btn-block" role="button">Add New Offering</a>
    </div>

<div class="container">

  <div class="row">
    {% for i in offerings %}
    <div class ="col-sm-4">

        <div class="panel panel-primary">

            <div class="panel-heading">

                {{i.title}}</a>
            </div>
            <div class="panel-footer">{{i.date}}</div>
            <div class="panel-body">
            {% for file in files %}
                {% if i.id == file.offering_id %}
                    <a href="{{url_for('offeringDetail', offering_id = i.id)}}">
                        <img src ="{{file.image}}" class="img-responsive" style="width:100%" style="height:100%" alt="Image">
                    </a>
                {% endif %}
            {% endfor %}
            </div>
            <div class="panel-footer">{{i.location}}</div>

        </div>
    </div>
    {% endfor %}
  </div>

</div>







    </main>


</body>
</html>